<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pipeline	Maintenanc</title>
    <!-- Bootstrap Styles-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand">actchain</a>

                                        
                    </div>
                        <ul class="nav navbar-top-links navbar-right">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="inspectiondash" aria-expanded="false">
                                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li><a href="profiles"><i class="fa fa-user fa-fw"></i> User Profile</a>
                                        </li>
                                        <li><a href="settings"><i class="fa fa-gear fa-fw"></i> Settings</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                                        </li>
                                    </ul>
                                    <!-- /.dropdown-user -->
                                </li>
                                <!-- /.dropdown -->
                        </ul>

    
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="main-menu">
    
                        <li>
                            <a href="inspectiondash"><i class="fa fa-dashboard"></i> Dashboard</a>
                        </li>
                        <!-- -->
                        <li>
                            <a href="inspectionproject"><i class="fa fa-edit"></i> Project Information </a>
                        </li>
                        
                        <li>
                           <a class="active-menu" href="inspectionreview"><i class="fa fa-desktop" ></i> Inspect Project </a>
                        </li> 
                        <li>
                            <a href="inspectionfinish"><i class="fa fa-qrcode"></i> Finish Project</a>
                        </li> 
                        <!-- <li>
                            <a href="table"><i class="fa fa-table"></i> Responsive Tables</a>
                        </li> -->
                                    
                        <!-- <li>
                            <a href="empty"><i class="fa fa-fw fa-file"></i> Empty Page</a>
                        </li> -->
                    </ul>
    
                </div>
    
        </nav>
           
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                             Review Completed Projects
                        </h1>
                    </div>
                </div>
                <!-- Form -->
                <form action="http://127.0.0.1:8081/createReview" method="post" role="form">
                    <div class="form-group">
                            <label>Review ID</label>
                            <input name="reviewId" class="form-control">
                        </div>
                        <div class="form-group">
                                <label>Select Project</label>
                                <select name="projectId" class="form-control">
                                    <% for(var i = 0; i < dataproj.length ; i++){  %>
                                    <option value="<%= dataproj[i].Key %>" name="projectId"><%= dataproj[i].Key %></option>      
                                    <% } %>                          
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Select Contractor</label>
                                <select name="receiverId" class="form-control">
                                    <% for(var i = 0; i < data.length ; i++){  %>
                                    <option value="<%= data[i].Key %>" name="receiverId"><%= data[i].Key %></option>      
                                    <% } %>                          
                                </select>
                            </div>
    

                            <div class="form-group">
                                <label>Checklist</label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="rov" value="Replacement of Valves">Replacement of Valves
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="rovp" value="Replacement of Valve packing">Replacement of Valve packing
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="opsv" value="Overhaul of Pressure Safety Valve (PSV)">Overhaul of Pressure Safety Valve (PSV)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="aop" value="Alignment of Orifice Plate">Alignment of Orifice Plate
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                    <input type="checkbox" name="agvd" value="Alignment of Globe Valve Direction">Alignment of Globe Valve Direction
                                    </label>
                                </div>
                                <div class="checkbox">
                                        <label>
                                        <input type="checkbox" name="rgv" value="Replacemnt of Gate Valve">Replacemnt of Gate Valve
                                        </label>
                                </div>
                                <div class="checkbox">
                                        <label>
                                        <input type="checkbox" name="ipg" value="Installation of Permanent Gaskets">Installation of Permanent Gaskets
                                        </label>
                                </div>
                                <div class="checkbox">
                                        <label>
                                        <input type="checkbox" name="ttfb"value="Torqueing and Tensioning of Flange Bolts">Torqueing and Tensioning of Flange Bolts
                                        </label>
                                </div>
                                <div class="checkbox">
                                        <label>
                                        <input type="checkbox" name="rbv" value="Replacement of Butterfly valve">Replacement of Butterfly valve
                                        </label>
                                </div>
                                <div class="checkbox">
                                        <label>
                                        <input type="checkbox" name="anrv" value="Alignment of Non-Return Valve">Alignment of Non-Return Valve
                                        </label>
                                </div>
                        </div>
 
                        <button type="submit" class="btn btn-default">Submit Review</button>
                        <button type="reset" class="btn btn-default">Reset Fields</button>
                    </form>
		    </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="assets/js/bootstrap.min.js"></script>
	 
    <!-- Metis Menu Js -->
    <script src="assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="assets/js/morris/morris.js"></script>
	
	
	<script src="assets/js/easypiechart.js"></script>
	<script src="assets/js/easypiechart-data.js"></script>
	
	
    <!-- Custom Js -->
    <script src="assets/js/custom-scripts.js"></script>


</body>

</html>